$color-title-bg: rgb(255, 255, 255);
$color-title-fg: black;
$color-primary:#0a00ff;
$color-primary-personality:#ff0077;
$color-primary-newsitem:#ffa600;
$color-primary-product: #00ff88;
$color-background-soft:#f0f0f0;