@import '../styles/colors';

.footerwrapper {
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  font-size: 1.2em;
  min-height: 200px;

  background-color: $color-background-soft;
  color: rgb(0, 0, 0);
  padding:40px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  gap: 24px;

  .footer {
    grid-column: 2 / span 10;
  }

  @media (min-width: 1024px) {
    .footer {
      grid-column: 3 / span 8;
    }

  }

  @media (min-width: 1920px) {
    .footer {
      grid-column: 4 / span 6;
    }
  }
}