@import '../styles/colors';
.carouselwrapper{
  display: grid;
  box-shadow: 10px 10px 0px black;
  margin:40px 0;
}
.item {
  display: grid;
  height: 400px;
  @media (min-width: 768px) {
    height: 500px;
  }
  @media (min-width: 1024px) {
    height: 600px;
  }
  .mainpicture{
    background-size: cover;
    img{
      // width: 100%;
      // height: 100%;
    }
  }
  .newsiteminfo{
    position:absolute;
      bottom: 40px;
      width: 40%;
      min-width: 300px;
      max-width: 600px;
      background:black;
      color: white;
      padding: 20px;
    .title{
      font-family: 'Bungee Shade', cursive;
      font-size: 1.2em;
      line-height: 1.3em;
      @media (min-width: 768px) {
        font-size: 1.5em;
      }
      @media (min-width: 1024px) {
        font-size: 2em;
      }
    }
    .short{
      font-size: 18px;
    }
  }

}