@import '../styles/colors';

.carouselwrapper {
  margin-bottom: 40px;
  .item {
    .mainpicture {

      height: 250px;
      background-size: cover;
      box-shadow: inset 0px 0px 0 10px black;
      margin-right: 10px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}