@import '../styles/colors';

.list {
  margin-bottom: 40px;
  a{
    text-decoration: none;
    color: black;
    &:active{
      color: black;
    }
  }
  .item {
    border:10px solid black;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 0 $color-primary;
    .date {}

    .mainpart {
      .title {
        margin: 10px 0;
      }

      .introduction {}
    }

  }




}