@import '../styles/colors';


.navigationmobilewrapper{
  @media (min-width: 1200px) {
    display: none;
  }
}


.navigationmobile {
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 900;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0 0 0;
  position: relative;
  .hamburger{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    cursor: pointer;
    .line{
      height: 5px;
      width: 100%;
      margin-bottom: 6px;
      background-color: black;
    }
  }
  .navlogo {
    img {
      min-width: 200px !important;
    }
    margin-bottom: 20px;
  }

  .navlinkswrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;

    .navlinks {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      flex: 1;
      padding: 0 0 20px 0;

      .navlink {

        a {
          text-decoration: none;
          &:hover {
            color:$color-primary;
          }
        }

      }
    }
  }

  .navlocales {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .navlocale {

      a {
        text-decoration: none;


        &:hover {
          color:$color-primary;
        }
      }
    }
  }
}