@import '../styles/colors';

.newsitem {
  .title{

  }
  .mainpicture{
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0px 10px #000;
    margin-bottom: 40px;
  }
  .short{

  }
  .article{
    
  }
}