@import '../styles/colors';

.personality {

  .imagegallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .image{
      background-size: cover;
      background-position:center;
      width: 100%;
      height: 280px;
      border:10px solid black;
      margin-bottom: 10px;
      margin-right: 10px;
      @media (min-width: 1024px) {
        width: 280px;

      }
    }
  }

  .title {}

  .first-name {}

  .last-name {}

  .date-of-birth {}

  .nationalities {
    .nationality {}
  }

  .bio {}

  .pictures{
    .picture{}
  }
}