@import '../styles/colors';

.product {

  .logo {}

  .title {}

  .price{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .producthead{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
    margin-bottom: 40px;
    .producthead_first{
      grid-column: 1 / span 2;
    }
    .producthead_second{
      grid-column: 1 / span 2;
    }
    @media (min-width: 1200px) {
      .producthead_first{
        grid-column: 1 / span 1;
      }
      .producthead_second{
        grid-column: 2 / span 1;
      }
    }
  }

  .mainpicture{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0px 10px #000;
    margin-bottom: 40px;
  }

  .relateditems{
    display: grid;
    grid-template-columns: repeat(6,1fr);
  }

  .short{
    font-weight: 800;
  }

  .description {
    .title{
      font-size: 1.4em;
      font-weight: 800;
      margin-bottom: 20px;
    }
    .content{

    }
  }
}