@import '../styles/colors';

.relateditemgallery {


  margin-top: 20 px;
  display: flex;
  align-items: center;



  .title {

      font-size: 1em;
      font-weight: 800;
      width: 140px;
      display: flex;
      max-width: 300px;
      min-width: 140px;
  
  }

  .relateditems {
    display: flex;
    flex-wrap: wrap;
  }
}