@import '../styles/colors';

a.relateditem {
  width: 100%;
  border:10px solid black;
  margin-bottom: 20px;
  margin-right: 20px;
  display: block;
  text-decoration: none;
  @media (min-width: 1024px) {
    width: 280px;
  }

  .mainpicture{
    background-size: cover;
    background-position:center;
    height: 200px;
    @media (min-width: 1024px) {
      height: 280px;
    }
  }

  .textpart{
    text-decoration: none!important;
    padding: 20px;
    .title {
      font-size: 1.2em;
      font-weight: 800;
    }
    .short {}
  }



}