@import '../styles/colors';

.title {
  font-family: 'Bungee', cursive;
  font-size: 2em;
  line-height: 1.3em;
  @media (min-width: 768px) {
    font-size: 2.4em;
  }
  @media (min-width: 1024px) {
    font-size: 2.8em;
  }
}